/* p {
    text-align: center;
} */

nav {
    color: rgb(18, 104, 104);
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-family: Atma;
}

.titulo {
    font-family: Jua;
}

li {
    font-family: Sour Gummy;
}